In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('raw_results.csv')
cols = df.columns
df.head()

,Timestamp,Please rate the inclusivity of this department based on your experience.,Please share any ideas for how we can make our department more inclusive.,"If you can identify a problem with the inclusivity of our department but have no ideas for ways to improve it, you are still welcome to share your thoughts here if you would like.",Your name? (only if you want your responses to be publicly associated with your name),Pronouns?,Gender identity?,Race/ethnic group or groups?,Disability status?,Anything else?,Class?
0,2/20/2022 18:49:18,2.0,There needs to be more encouragement of women ...,NaN,NaN,she/her,female,white,NaN,NaN,NaN
1,2/20/2022 18:51:50,3.0,NaN,NaN,NaN,she/ her,Female,White,NaN,NaN,NaN
2,2/20/2022 19:12:09,2.0,"To begin classes, professors could describe ch...","In groups of students, women are disproportion...",NaN,he/him,man,white,none,NaN,2022.0
3,2/20/2022 19:24:52,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/20/2022 19:38:11,2.0,1. Professors and teaching staff should start ...,1. I'm not sure what a larger solution is to t...,Catherine Meadows,she/her,Female,"White, Asian",NaN,NaN,2022.0

In [18]:
print(df[cols[1]].mean())

3.7419354838709675

In [22]:
avgs = [3.1,3.666666667,3.590909091,4.4]
import matplotlib.pyplot as plt
plt.plot(avgs)
plt.show()